.footer-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: rgb(59, 59, 59);
	color: white;
	padding: 20px 0 10px;
}
.footer-links {
	display: flex;
	justify-content: space-around;
	width: 20%;
	margin-bottom: 15px;
	font-size: 18px;
}
