@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Nunito:wght@400;600;700&display=swap");
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	color: rgb(59, 59, 59);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
	margin: 0;
}
input,
textarea,
button {
	box-sizing: border-box;
	font-family: inherit;
}
input:focus,
textarea:focus {
	outline: none;
}
p {
	line-height: 1.5;
}
a {
	text-decoration: none;
	color: inherit;
}
::placeholder {
	color: rgb(143, 143, 143);
}
.container {
	min-height: 800px;
	background-color: rgb(238, 238, 238);
	overflow: auto;
}
.category-card-grid {
	display: grid;
	justify-content: space-around;
	margin: 0 auto;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 60px;
	padding: 0 50px;
	align-items: center;
}
.mobile-only {
	display: none;
}

@media screen and (max-width: 768px) {
	.desktop-only {
		display: none !important;
	}
	.mobile-only {
		display: revert;
	}
	body {
		font-family: "Nunito", sans-serif;
	}
	.container {
		overflow: none;
	}
	.category-card-grid {
		grid-template-columns: 1fr 1fr;
		grid-gap: 40px;
		padding: 0 40px;
	}
}

@media screen and (max-width: 425px) {
	h1 {
		font-size: 22px;
	}
	p {
		font-size: 14px;
	}
	h2 {
		font-size: 20px;
	}
	h3 {
		font-size: 18px;
	}
	.container {
		min-height: 600px;
	}
	.category-card-grid {
		grid-gap: 10px;
		padding: 0 10px;
	}
} ;
